{
    // "extends": ["airbnb", "airbnb/hooks", "airbnb-base/legacy"],
    "rules": {
        // ...
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/anchor-is-valid": "off"
    }
}
