.logo-container {
    z-index: 0;
    width: 400px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 50%;
    left: auto;
    margin: auto;
    transition: all 5s;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: scale(1.9) !important;
    }

    .solid-logo {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0.05;
        animation: fadeOut 6s backwards ease-in;
        transform: scale(1.35) !important;
        z-index: 0;
    }
}

.svg-container {
    stroke: #ffd900;
    stroke-width: 10px;
    opacity: 0.8;
    z-index: 0;
}


@media screen and (max-width: 1200px){
    .logo-container { 
        svg {
       position: relative;
       box-sizing: border-box;
       margin: auto;
        z-index: 0;
        opacity: 0.5;
        }
    }
}