.logo-container {
    z-index: 0;
    width: 400px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 50%;
    left: auto;
    margin: auto;
    transition: all 5s;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: scale(1.9) !important;
    }

    .solid-logo {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0.05;
        animation: fadeOut 6s backwards ease-in;
        transform: scale(1.35) !important;
        z-index: 0;
    }
}

.svg-container {
    stroke: #ffd900;
    stroke-width: 10px;
    opacity: 0.8;
    z-index: 0;
}


@media screen and (max-width: 1200px){

    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }

    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 125px;
        }

        .logo-container svg {
           position: relative;
           width: 100px;
           height: auto;
           top: 50px;
           right: 0;
           box-sizing: border-box;
           margin: auto;

        }
    }
  }