.home-page {
    background: linear-gradient(217deg, #056961d3, rgba(255, 0, 0, 0) 35%),
            linear-gradient(127deg, #4f0606, rgba(0,255,0,0) 0%),
            linear-gradient(336deg, #7b054ebd, rgba(0,0,255,0) 50%);

    .text-zone {
        position: absolute;
        left: 13%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    // Mingalar-Par in Burmese 
    h1 {
        color: #FFFFF0;
        font-size: 4rem;
        margin: 0;
        font-weight: 500;
        animation: bounceIn 3s 1s linear both;
        animation-delay: 0s;

        &::before {
            content: '<h1>';
            font-family:'Courier New', Courier, monospace;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -30px;
            left: 15px;
            opacity: 0.8;
            animation-delay: 2s;
            animation: fadeIn 3s 2s backwards;
        }

        &::after {
            content: '<h1/>';
            font-family: 'Courier New', Courier, monospace;
            color:#ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            opacity: 0.8;
            animation-delay: 1s;
            animation: fadeIn 3s 3s backwards;
        }
    }

    h2 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.3rem;
        font-weight: 800;
        letter-spacing: 10px;
        padding: 1px 10px;
        text-decoration: none;
        color: rgb(155, 197, 17);
        animation-delay: 3s;
    }


    //only affect "const Min =" 
    h3 span {
        color: rgba(255, 0, 255, 0.801);
    }
    // list of profiles
    h3 {
        color: #fffff0cb;
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 0.5px;
        animation: fadeIn 5s 4s backwards;
        border: 1px #ffd700;
        border-style: dashed;
        border-radius: 1rem;
        padding: 1rem;
        transition: 1.5s;

        &:hover {
            background: #850411cd;
            transform: scale(1.35);
            transition: all 2s ease-in-out;
            box-shadow: rgba(139, 25, 171, 0.635) 5px 5px, rgba(152, 21, 104, 0.425) 10px 10px, rgba(240, 46, 169, 0.338) 15px 15px, rgba(11, 112, 92, 0.1) 20px 20px, rgba(11, 128, 105, 0.151) 25px 25px;
        }
    }
    // copyrighted photo of Sule Protest
    .coverP {
        padding: 2rem;
        max-width: 100%;
        height: auto;
        animation: fadeIn 4s 5s backwards;
        transition: 1.5s;

        &:hover {
            background: #850411ad;
            transform: scale(1.4);
            transition: all 2s ease-in-out;
            box-shadow: rgba(6, 227, 183, 0.628) 0px 8px 24px;
        }
    }

    .flat-button {
        color: rgba(172, 255, 47, 0.632);
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 2px;
        font-family:sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        border-radius: 1rem;
        margin-top: 20px;
        float: left;
        animation: fadeIn 3s 5s backwards;
        white-space: nowrap;
        transition: 1s;

        &:hover {
            background: #ffd700;
            color: rgb(4, 4, 62);
            transform: scale(1.2);
            transition: all 2s ease-out;
            box-shadow: rgba(0, 0, 255, 0.374) 0px 0px 0px 2px inset, rgba(255, 255, 255, 0.402) 10px -10px 0px -3px, rgba(23, 174, 114, 0.205) 10px -10px, rgba(255, 255, 255, 0.164) 20px -20px 0px -3px, rgba(255, 216, 19, 0.201) 20px -20px, rgba(255, 255, 255, 0.242) 30px -30px 0px -3px, rgba(255, 156, 85, 0.183) 30px -30px, rgba(255, 255, 255, 0.205) 40px -40px 0px -3px, rgba(255, 85, 85, 0.105) 40px -40px;
        }

    }
}

@media screen and (max-width: 1200px){

    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }

    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
            
            .flat-button {
                float: none;
                display: block;
                margin: 20px auto 0 auto;
                width: 125px;
            }
        }
    }
  }